{% extends "base.html" %}
{% block title %}{{ parking.name }} - ParKING{% endblock %}
{% block content %}
<div class="card">
    {% if parking.photo %}
        <img src="{{ url_for('parking_image', parking_id=parking.id) }}" class="card-img-top" style="max-height: 420px; object-fit: cover" alt="{{ parking.name }}">
    {% endif %}
    <div class="card-body">
        <h1 class="h3">{{ parking.name }}</h1>
        <dl class="row">
            <dt class="col-sm-3">{{ tr('common.location') }}</dt><dd class="col-sm-9">{{ parking.location }}</dd>
            <dt class="col-sm-3">{{ tr('common.price') }}</dt><dd class="col-sm-9">{{ "%.2f €" | format(parking.price_per_hour) }}</dd>
            <dt class="col-sm-3">{{ tr('common.owner') }}</dt><dd class="col-sm-9">{{ parking.owner.username }}</dd>
            <dt class="col-sm-3">{{ tr('common.description') }}</dt><dd class="col-sm-9">{{ parking.description or "-" }}</dd>
        </dl>
        {% if current_user and parking.owner_id != current_user.id %}
            <a class="btn btn-primary" href="{{ url_for('reserve', parking_id=parking.id) }}">{{ tr('parking_detail.reserve') }}</a>
        {% endif %}
        <a class="btn btn-outline-secondary" href="{{ url_for('parkings') }}">{{ tr('common.back') }}</a>
    </div>
</div>
{% endblock %}
